Someone (probably you) requested a password reset for your weave4j account.

In order to proceed with the password reset process, you have to enter the
following code into the form that has been displayed in your web browser when
you requested the password reset.

Your Password Reset Code: $passwordResetCode

You should mark the password reset code displayed above and copy it to your
clip-board, so that you can paste it into the web form's input field.
 
If you did not request the password reset, you do not have to do anything:
The person who requested the password reset will not be able to proceed without
this code.
