body, p, h1, h2, table, th, td {
  font-family: sans-serif, Arial, Helvetica;
}

table, th, td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
}

td {
  padding: 4px;
}

.error {
  color: #880000;  
}
